@model Tutort.Web.ViewModels.Page.HeaderViewModel

<header>
    <div id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="home-account">
                        @Html.ActionLink(Tutort.Web.Localization.Header.TopMenu_Home, "Index", "Home")
                        @*@Html.ActionLink(Tutort.Web.Localization.Header.TopMenu_Login, "Login", "Auth")*@
                        @*@foreach (var item in Model.TopMenu)
                            {
                                <a href="@item.Url" class="@Html.IsSelected(item)">@item.Text</a>
                            }*@
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="cart-info">
                        <a href="tel:@Tutort.Web.Localization.General.ContactPhoneStrict">@Tutort.Web.Localization.Header.ContactPhone</a>  &#8211;  @Tutort.Web.Localization.Header.ContactPhoneMessage
                        @*<i class="fa fa-shopping-cart"></i>
                            (<a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>)*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="/"><img src="@Url.Content("~/images/logo/logo_top.png")" title="@Tutort.Web.Localization.General.Name - @Tutort.Web.Localization.General.Slogan" alt="@Tutort.Web.Localization.General.Name - @Tutort.Web.Localization.General.Slogan"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-menu">
                        <ul>
                            @*@foreach (var item in Model.MainMenu)
                                {
                                    <li><a href="@item.Url" class="@Html.IsSelected(item)">@item.Text</a></li>
                                }*@
                            <li> @Html.ActionLink(Tutort.Web.Localization.Header.MainMenu_Home, "Index", "Home") </li>
                            <li> @Html.ActionLink(Tutort.Web.Localization.Header.MainMenu_Giveaways, "ShowList", "Giveaway") </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="social-top">
                        <ul>
                            <li><a href="@Tutort.Web.Localization.General.Media_Instagram" target="_blank" class="fa fa-instagram"></a></li>
                            <li><a href="@Tutort.Web.Localization.General.Media_VK" target="_blank" class="fa fa-vk"></a></li>
                            <li><a href="@Tutort.Web.Localization.General.Media_Facebook" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="@Tutort.Web.Localization.General.Media_Twitter" target="_blank" class="fa fa-twitter"></a></li>
                            <li><a href="@Tutort.Web.Localization.General.Media_Tumblr" target="_blank" class="fa fa-tumblr"></a></li>
                        </ul>
                    </div>
                    @*<div class="search-box">
                            <form name="search_form" method="get" class="search_form">
                                <input id="search" type="text" />
                                <input type="submit" id="search-button" />
                            </form>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</header>




<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="bannerformmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
                </div>
                <div class="modal-body">
                    @*<form id="requestacallform" method="POST" name="requestacallform">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input id="first_name" type="text" class="form-control" placeholder="First Name" name="first_name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input id="last_name" type="text" class="form-control" placeholder="Last Name" name="last_name" />
                                </div>
                            </div>
                        </form>*@

                    @*<h4>Use another service to log in.</h4>
                        <hr />
                        @{
                            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                            if (loginProviders.Count() == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div id="socialLoginList">
                                        <p>
                                            @foreach (AuthenticationDescription p in loginProviders)
                                            {
                                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                                            }
                                        </p>
                                    </div>
                                }
                            }
                        }*@

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>